{{extend 'myLayout.html'}}
<link href="{{=URL('static', 'css/aboutus.css')}}"  rel="stylesheet" type="text/css" />
<table>
    <tr><td><img alt="abhineet's image" src="{{=URL('static', 'images/abhineet.jpg')}}"></td><td><img src="{{=URL('static', 'images/chandan.jpg')}}" alt="chandan's image"></td></tr>
    <tr><td>Abhineet Jain</td><td>Chandan Kharbanda</td></tr>
    <tr><td>abhiineitjain@gmail.com</td><td>ckrocks5@gmail.com</td></tr>
    <tr><td>+91-9871234778</td><td>+91-9052998663</td></tr>
</table>