#draw{
    border: 1px solid;
    
}

.top {
    float:left;
    position: relative;
    top: 0%;
    width: 5%;
    height: 100%;
    border: 1px solid;
}


#form {
    left: 1%;
    width: 48%;
}

#info { 
        width: 34%;
}

.rightmargin{
        margin-right: 4px;
        font-weight: normal;
        font-stretch: condensed;
}

.numberip {
        width: 10%;
}

#rad {
        width:15%;
}

.palcol {
        width:19px;
        height:20px;
        margin-top: 15px;
        border: solid thin rgba(0,0,0,0.5);
        float: left;
        cursor: pointer;
}

.palcol:hover {
        box-shadow: 1px 1px 1px 1px black;
}

#palette{
    position: absolute;
    top: 77%;
    left: 1%;
    width: 98%;
}

#selected {
        position: relative;
        margin-top: 1%;
        left: 1%;
        float: left;
        width: 40px;
        height: 40px;
        background-color: black;
        border: solid 1px black;
}

#showcol {
        position: relative;
        margin-top: 1%;
        margin-left: 1.5%;
        float: left;
        width:10%;
}

#colors {
        position: relative;
        margin-top: 0.5%;
        float: right;
}

#canvasdiv {
    width: 1283px;
    height: 60%;
    left: 1%;
    position: absolute;
    top: 20%;
}

#sliders {
    position: absolute;
    top: 90%;
    left: 2%;
    height: 5%;
    width: 98%;
}

#toolbar {
    position: absolute;
    top: 12%;
    width: 97.7%;
    height: 7.5%;
    left: 1%;
}

.tool {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.highlight{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#brushbutton {
    border: 2px solid red;
}