table {
    font-family: DejaVu Serif;
}

#include_block {
    position: absolute;
    top: 30%;
    left: 25%;
}

.w2p_fc {
    display: none;
}

input {
    position: relative;
    margin-left: 8%;
    padding: 2px;
    font-size: 1em;
}

.w2p_fl {
    text-align: right;
}

td {
    font-size: 1.4em;
}

.w2p_fw {
    text-align: left;
}

input:focus {
    border-color: blue;
    border: 2px solid #800080;
}

#submit_record__row > td:nth-child(2) > input:nth-child(1):focus {
    border: none;
}

#submit_record__row > td:nth-child(2) {
    text-align: right
}

#auth_user_profile_picture__row{
    display: none;
}